@keyframes pulse-scale {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pulse-scale {
  animation: pulse-scale 2s ease-in-out infinite;
}

.blinking-cursor {
  display: inline-block;
  width: 0px;
  background-color: currentColor;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
